/* Nav */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}
#navbar.navbar--dark {
  background-color: var(--color-coral);
  padding: 8px;
}
.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo img {
  max-width: 15%;
  height: auto;
  margin-right: 10px;
}
.navbar__logo a {
  white-space: nowrap;
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-light-coral);
}
.navbar__toggle-btn {
  position: absolute;
  top: 22px;
  right: 22px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}


/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}


/* Home */
#home {
  background: url('../Images/background.jpg') center center fixed no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 40px;
  text-align: center;
}
.home__container {
  position: relative;
  top: 35%;
}
.home__info {
  text-shadow: 1px 1px 5px var(--color-light-gray);
}
.home__title,
.home__description {
  color: var(--color-white);
}
.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}


/* About */
.about__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--color-light-white);
  margin-top: 10px;
}
.about__text {
  display: flex;
}
.about__text p {
  padding: 10px 0 10px 40px;
  text-align: left;
}
.about__info {
  display: flex;
  justify-content: space-between;
}
.about__jobs {
  margin-right: 40px;
  flex-basis: 55%;
}
.about__study {
  flex-basis: 45%;
}
.about__jobs,
.about__study {
  padding: 40px 0;
}
.about__info img {
  max-width: 15%;
}
.job,
.study {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.job__description,
.study__description {
  margin: 0 20px;
  text-align: left;
}
.job__name,
.job__period,
.study__name,
.study__period {
  color: var(--color-light-gray);
}
.job__name,
.study__name {
  font-size: var(--font-small);
}
.job__period,
.study__period {
  font-size: var(--font-micro);
}


/* Skills */
#skills {
  background-color: var(--color-bisque);
}
.skillset {
  display: flex;
  background-color: var(--color-dark-gray);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skill {
  margin-bottom: 22px;
}
.skillset__title {
  color: var(--color-white);
}
.major {
  margin: 20px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: 0 auto;
  color: var(--color-dark-coral);
  border: 1px solid var(--color-dark-coral);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: all var(--annimation-duration) ease;
}
.major__icon:hover i {
  color: var(--color-light-coral);
  transform: rotate(-30deg) scale(1.1);
}
.major__title {
  color: var(--color-dark-grey);
  font-size: var(--font-regular);
}
.skillset__lrft {
  flex-basis: 50%;
  padding: 40px;
}
.skillset__right {
  flex-basis: 50%;
  padding: 40px;
  background-color: var(--color-gray);
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-light-gray);
  opacity: 0.8;
}
.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}


/* Work */
.work__categories {
  margin: 38px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-coral);
  color: var(--color-white);
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 5.5px;
}
.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--annimation-duration) ease-in;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--annimation-duration) ease-out;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}
.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 5px;
  background-color: var(--color-light-white);
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--annimation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-orange);
}
.project__description h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

.work__more {
  margin: 25px;
}
.more__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  margin: 14px;
}
.more__btn a {
  color: var(--color-gray);
}
.more__btn:hover {
  transform: scale(1.1);
}


/* Contact */
#contact {
  background-color: var(--color-light-coral);
}
.contact__title,
.contact__phone,
.contact__email,
.contact__rights {
  color: var(--color-white);
}
.contact__info {
  margin: 15px 0;
}
.contact__call {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.contact__phone {
  margin: 0 4px;
}
.contact__phone i,
.contact__email i {
  font-size: var(--font-regular);
  margin: 0 10px 0 0;
}
.contact__links {
  font-size: var(--font-large);
  margin: 5px 0;
}
.contact__links i {
  padding-left: 10px;
  transition: all var(--annimation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-bisque);
}


/* Arrow up */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  width: 70px;
  height: 70px;
  color: var(--color-white);
  background-color: var(--color-coral);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all var(--annimation-duration) ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}


/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
}
  .navbar__toggle-btn {
    display: block;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-coral);
  }
  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menubar {
    width: 100%;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .about__text {
    flex-direction: column;
  }
  .about__avatar {
    align-self: center;
    margin-bottom: 20px;
  }
  .about__text p {
    padding: 10px 30px;
  }
  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .major {
    margin-bottom: 38px;
  }
  .about__info {
    flex-direction: column;
  }
  .about__jobs {
    margin: 0;
  }
  .about__jobs, 
  .about__study {
    padding: 20px 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .work__categories {
    margin: 25px;
  }
  .category__btn {
    margin: 4px 0;
    width: 100%;
  }
  .project {
    flex-grow: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
