/* Nav */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  transition: all var(--annimation-duration) ease-in-out;
  z-index: 99;
}
.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo img {
  max-width: 25%;
  height: auto;
  margin-right: 10px;
}
.navbar__logo a {
  white-space: nowrap;
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-light-coral);
  font-weight: var(--weight-semi-bold);
}